.btn-action{
    position: relative;    
    margin-right: 10px;
    float: right;
}

.container-img-loading{
    position: absolute;
    top: 30%;
    left: 300px; 
    border-style: none;
    cursor: pointer;
}