.container{    
    position: absolute;
    top:30px;   
    left: 22%;
    height: auto;
}

.card-body{
    padding: 20px 50px 20px 50px;
}

.container-btnActions{
    position: relative;
    float: right;  
}
.btn-action{
    width: 250px;
    margin-left: 5px;
    height: 40px;
}
